.table__container {
  /* border: red 1px solid; */
  width: 100%;
  color: #f5e9cb;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  padding-top: 12px;
  padding-bottom: 50px;
  justify-content: center;
}

.table {
  color: #f5e9cb;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-collapse: collapse;
}

.th {
  text-align: center;
  font-weight: bold;
  color: #f6c405;
}

.td {
  text-align: center;
  height: 50px;
  word-wrap: break-word;
}

.table,
.th,
.td {
  border-bottom: 1px solid #f5e9cb;
}